h1 {
    color: blue;
    background-color: aliceblue;
    font-weight: bold;
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
img {
    height: auto;
    width: 310px;
}
p {
    color: blueviolet;
    font-weight: bold;
}
li {
    color: blueviolet;
    font-weight: bold;
}