h1 {
    color: blue;
    background-color: aliceblue;
    font-weight: bold;
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    color: blueviolet;
    font-weight: bold;
    display: block;
}
li {
    color: blueviolet;
    font-weight: bold;
    padding: auto;
}
.images {
    width: 500px;
    margin: 0 auto;
}
html {
    box-sizing: border-box;
    border: 8px solid white;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
ul.homepage button {
    background-color: aqua;
    border: 1px solid black;
    padding: 8px;
    margin: auto;
    font-size: 16px;
    font-weight: bold;
    color: rgb(3, 3, 3);
    margin: 5px;
}
.homepage li::marker {
    color: black;
}